<%- include('partials/header.ejs') %>

    <body>
        <div id="app">
            <%- include('partials/navbar.ejs') %>
                <%- include('partials/jumbotron.ejs') %>
                <%- include('partials/services.ejs') %>
                <%- include('partials/AdsSection.ejs') %>
                <%- include('partials/services.ejs') %>
        </div>
    </body>

    <%- include('partials/footer.ejs') %>